body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --light-grey: #e0e0e0;
    --dark-grey: #606060;
    --red-bg: #da1e5d;
}
.btn{
   border: none;
   background-color: transparent;
   padding: 8px 25px;
   border-radius: 10px;
   color: black;
}
#nav{
   display: flex;
   background-color: transparent;
   position:sticky ;
   top: 0px;
}
#nav ul{
   display: flex;
   list-style: none;
   margin: 20px 0px ;

}
#nav ul li{
   font-family: century;
   font-size: 1.1rem;
   font-weight: bold;
}
#nav ul li a{
   text-decoration: none;
   color: white;
   padding: 8px 25px;
   transition: all .5s ease  ;
}
#nav ul li a:hover{
   background-color: #606060;
   color: white;
   box-shadow: none;
   border-radius: 10px;
   margin: 10px;
}
.card{
    height:90px;
    width: 800px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 90px;
    color: white;
    background-color: #da1e5d;
    border-radius: 10px;
    margin: 10px;
}
#container2{
    display: flex;
    align-items: center; 
 }

 .card-container2{
    height:250px;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height:200px;
    color: white;
    background-color: #da1e5d;
    border-radius: 10px;
    margin: 10px;
 }
 .container2forcard45{
    display: flex;
 }
 #container3forcard234{
    display: flex;
 }

 .card-container3{
    height:90px;
    width: 800px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 90px;
    color: white;
    background-color: #da1e5d;
    border-radius: 10px;
    margin: 10px;
 }
 #card2-container3{
    height:290px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 250px;
    color: white;
    background-color: #da1e5d;
    border-radius: 10px;
    margin: 10px;
 }
 #card3-container3{
    height:290px;
    width: 460px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 250px;
    color: white;
    background-color: #da1e5d;
    border-radius: 10px;
    margin: 10px;
 }
 #card4-container3{
    height:290px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    line-height: 250px;
    color: white;
    background-color: #da1e5d;
    border-radius: 10px;
    margin: 10px;
 }